body {
    background-color: #000000;
    font: 14px "맑은 고딕","Lucida Grande", Helvetica, Arial, sans-serif;
    color: #fadc31
}

img {
  position: relative;
  float: inherit;
  width: 100%;
  margin: 5px;
  transition: all 1s;
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

img.thumb {
  width: 15%;
  top: 10%;
}

img.thumb:hover{
  border-width: 3px;
  border-color: #3d3d3d;
  border-style: groove;
  width: 20%;
}

header {
  padding : 15px;
  margin : 15px;
  height: 0%;
  border-style: double;
  border-color : #7e7e7e;
  border-radius: 20px;
  transition: all 1s;
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

header:hover {
  background-color: rgb(34, 34, 34);
}

header.Akali {
  border-color : #35772c;
  top : -100%;
  position: relative;
}

header.shen{
  border-color : #54a8c9;
}

header.kennen{
  border-color : #ca5cd8;
}

