body {
    background-color: #151515;
    font: 14px "맑은 고딕","Lucida Grande", Helvetica, Arial, sans-serif;
    color: #fadc31
}

img {
  position: relative;
  width: 100%;
  margin: 5px;
  transition: all 1s;
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

img.thumb {
  width: 15%;
}

header {
  padding : 15px;
  margin : 15px;
  border-style: double;
  border-color : #7e7e7e;
  border-radius: 20px;
  transition: all 1s;
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

header.Akali {
  border-color : #35772c;
}

header.shen{
  border-color : #54a8c9;
}

header.kennen{
  border-color : #ca5cd8;
}
